 
body{
    background-color: #220A29;
    padding: 2rem;
    color:white;
    margin: 1rem, 2rem;
}
html{
    background-color: white;
    padding: 1%;
    margin: 0px 6rem;
  
}

.container{
    width: 100%;
}
.container-image{
    display: flex;
    justify-content: space-around;
}
.foto{
    width: 14rem;
    height: 16rem;
}
.header{
    display: flex;
    justify-content: space-between;

}
section{

    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    border-bottom: solid 4px white;
   
}
img{
 width: 2rem;
 height: 2rem;
 margin: 0.5rem 1rem;
}
.header-redes{
    display: flex;
    flex-direction: column;
    gap: 1;
}
.header-title{
    text-align: center;
}
.springBoot:hover, .java:hover, .sql:hover, .html:hover, .git:hover, .proyect-challangeAlkemy:hover, .proyect-astillas:hover{
 background-color: black;
 color: bisque;
 border:  0.2px  azure;
 padding: 0.3rem 0.5rem ;
}

.header-foto{
    display: flex;
    justify-content: end;
    margin-bottom: 20px;
}
ul{
    display: flex;
    justify-content: space-around;
}
h1{
    
}
h2{
    margin-bottom: 2rem;
}
h6{
    margin-bottom: 2rem;
}
.skill{
    border: none;
    padding-bottom: 3rem;
    
}
.skill-image{
    width: 3rem;
    height: 3rem;
}
.proyectos{
    padding: 0;
    margin-bottom: 2rem;
    display: flex;
  
}

@media  screen and (max-width: 702px) {
    body{
        display: flex;
        flex-direction: column;
    }
    img{
        width: 1rem;
        height: 1rem;
    }
    .foto{
        width: 7rem;
    height: 8rem;
    }
   
    .skill-image{
      width: 7rem;
      height: 7rem;
      margin-bottom: 1rem;
    }
    ul{
        flex-direction: column;
      
    }
    .proyectos{
        display: flex;
        flex-direction: column;
    }
    h2{
       text-align: center;
    }
    body{
        padding: 1rem;
    }
    .container{
        
    }
    .header-foto{
    display: none;
    }
    .header-redes{
      flex-direction: row;
      margin-bottom: 20px;
      text-align: center;
    }
    html{
        padding: 0.5%;
        margin: 0px  0.3rem;

    }
    .header{
        flex-direction: column;
    }
    section{
        margin-top: 2rem;
    }
    .proyectos img{
        width: 3rem;
        height: 3rem;
    }
    .container-image{
        flex-direction: column;
        align-items: center;
        align-content: center;
    }
}
